{% extends 'base.html' %}

{% block content %}

    {% if animals_created_list1 or animal_created_list2 or animals_created_list3 %}
        <ul>
        {% for animal in animals_created_list1  %}
            <li>{{ animal.animal01 }}{{' '}}{{animal.id}}</li>
        {% endfor %}
        {% for animal in animals_created_list2  %}
            <li>{{ animal.animal02 }}{{' '}}{{animal.id}}</li>
        {% endfor %}
        {% for animal in animals_created_list3  %}
            <li>{{ animal.animal03 }}{{' '}}{{animal.id}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No animal created</p>
    {% endif %}

{% endblock %}