/*sert a initiliser le padding et margin de la page a zero*/
*{
  margin: 0;
padding: 0;
}

body
{
   background-image: linear-gradient(to left, #8e9eab, #eef2f3);

}

.selection_menu
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 300px;
    margin:auto;
    margin-top: 60px;
    height: 550px;
    border-radius: 8px;


}

form
{
    width: 320px;


}
input[type=submit]
{
    border: none;
    width: 100px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover
{
    color: #fff;
    background-color: lightblue;
}
.listview
{
    text-align: center;
    margin-top:30px;
}
h1
{
    color:black;
    text-align: center;
    margin-top: 60px;
}
