{% load static %}

<html>
<head>
    <title>Demo app</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="selection_menu">

        <form  action="" method="post"> {% csrf_token %}

            <input type="submit" value="Create Dog" name="create_dog ">
        <!--</form>-->
        <!--<form action="" method="post"> {% csrf_token %}-->
            <input type="submit" value="Create Cat" name="create_cat">
        <!--</form>-->
        <!--<form action="" method="post"> {% csrf_token %}-->
            <input type="submit" value="Create Bird" name="create_bird">
        </form>




        <img  style="width: 75px; height: 75px; margin-left:110px; margin-top:70px;" src="{% static 'images/snake.png' %}"/>





        <h1>Animals</h1>
        <hr>
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>
